.books-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    padding: 20px;
    background-color: var(--color-blue-400);
}

.books-filter__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;
    width: 100%;
    max-width: var(--container-width);
}



.books-author-filter__search input{
    background-image: url('../../../assets/icons/author.svg');

}

.books-title-filter__search input{
    background-image: url('../../../assets/icons/search.svg');
}


.books-author-filter__search,
.books-title-filter__search{
    width: 100%;
    max-width: 350px;
}

.books-author-filter__search input,
.books-title-filter__search input
{
    padding-left: 50px;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 22px;
}



